# Build artifacts
###################
# CMake build directory
/build/
/out/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Executables and object files
*.o
*.obj
*.exe
*.dll
*.so
*.dylib

# Operating System and Editor Files
###################################
# macOS specific files
.DS_Store
.localized
.Trashes

# Windows Thumbnails
Thumbs.db

# Visual Studio Code
.vscode/

# IntelliJ/CLion
.idea/

# Vim/Nano swap files
*~
#*#

# CMake-specific output
CTestTestfile.cmake
_CPack_Packages/